<Utils::OpenState as |toggle isOpen|>
  <Ui::InfoBox class="m-2">
    {{#if @component.deprecationsCount}}
      <Alert::Counter @count={{@component.deprecationsCount}} />
    {{/if}}

    <div class="flex justify-between">
      {{#if (gt @component.fileCount 1)}}
        <button type="button" class="flex items-center" {{on "click" toggle}}>
          <FaIcon @icon="caret-right"  />
          <p class="ml-2"> &lt;{{@component.componentName}} /&gt;</p>
        </button>

        <LinkTo @route="component" @query={{hash path=@component.path}} class="text-gray-400">{{@component.fileCount}} files</LinkTo>
      {{else}}
        <LinkTo @route="component" @query={{hash path=@component.path}} class="flex items-center">
          <p class="ml-2"> &lt;{{@component.componentName}} /&gt;</p>
        </LinkTo>
      {{/if}}

    </div>


    {{#if isOpen}}
      {{#each @component.children as |componentFile|}}
        {{!-- <ComponentFileResult @componentFile={{componentFile}} /> --}}
      {{/each}}
    {{/if}}
  </Ui::InfoBox>
</Utils::OpenState>